@charset "utf-8";

@media (min-width:801px) {
    
    
.frontpage-searchbox-wrap {
    position:absolute;
    left:0;
    right:0;
    /*bottom:0;*/
    top:15%;
    z-index:999;
    background-color:transparent;
}












#nav_breadcrumb,
.main-content > *,
.descr > *,
.article-hero-content {
    max-width:1200px;
    margin:0 auto;
    width:100%;
}
#nav_breadcrumb,
#search-global, 
.main-content > *,
.descr > *,
.article-hero h1,
.article-hero figcaption {
    padding:0 1.2rem;
}
/*
.descr > * {
    max-width: calc(1200px - 2 * 1.2rem);
}*/
#top {
    /*background-image: url("9C0A3084-3.jpg");*/
    /*background-position: center 80%;*/
    background-repeat: no-repeat;
    background-size: cover;
    /*background-color:#dcdcdc;*/
    /*position:relative;*/
	
    background-color: #0E131F;
    /*background-image: url("NP035052-svalbard.jpg");*/
    background-position: center 55%;
    /*padding-top: 2em;*/
    padding-top:1.2em;
}
/*#top:after {
    content:"";
    display:block;
    background-color:rgba(255,255,255,0.5);
    position:absolute;
    top:0;
    bottom:2.4em;
    right:0;
    left:0;
    z-index:1;
}*/
#header .fullwidth-centered {
    position:relative;
}
.language-switch_de,
.language-switch_en, 
.language-switch_no {
    line-height:1em;
    margin-top:-2em;
    margin-right:1.2rem;
    float:right;
    clear:both;
    padding:0.5em;
    background-color:rgba(0, 0, 0, 0.5);
    
    position:absolute;
    margin-top:0;
    top:6em;
    right:0;
}
#homepage .language-switch_de,
#homepage .language-switch_en, 
#homepage .language-switch_no {
    margin-top:-5.5em;
}
	
#mob_nav_quicklinks,
#share-tools-smallscreen {
    display:none;
}
#footer .link-group,
#nav_breadcrumb_wrap,
#nav_quicklinks,
#nav_quicklinks_wrap,
#nav_sticky,
#nav_topmenu, 
#nav_breadcrumb,
#share-tools-normal,
.event-metadata-label,
#sm-links-bottom {
    display: block;
}
/* Visibility toggler classes */
.smallscr-only {
    display:none !important;
}
.bigscr-only {
    display:block !important;
}

h1,
.main-content > h1 {
    font-size:3em;
    padding-top:1em;
}
h2,
table caption,
.paragraph > h2 {
    font-size:2em;
}
h3 {
    font-size:1.75em;
}
h4 {
    font-size:1.2em;
}
h5 {
    font-size:1em;
}

/* Page summary / description / intro */
.ingress,
.descr,
.summary {
    line-height:1.75em;
    font-size:1.5em;
}


.span2 {
    /*width:47%;*/
    width:49%;
}
.span2.pull-left {
    margin-right:1%;
}
.span2.pull-right {
    margin-left:1%;
}
/*
#nav_topmenu li {
    display: inline-block;
    float: left;
}
#nav_topmenu li a {
    height: 35px;
    line-height: 35px;
    border: none;
    display: block;
    float: left;
}
*/
/*
#quicklinks {
    padding-top:0.5em;
}
#nav_quicklinks {
    padding-left:0;
    float:none;
    display:block;
    font-size:0.9em;
    overflow:visible;
}
#nav_quicklinks,
#nav_quicklinks a {
    background:transparent;
}

#nav_quicklinks li {
    display:block;
    float:left;
}
#nav_quicklinks > li:before {
    border-right:1px solid #ccc;
    content:" ";
}
#nav_quicklinks > li:first-child:before {
    border:none;
}
#nav_quicklinks a {
    padding:0.5em 1em;
    text-decoration:none;
}
#nav_quicklinks a:hover,
#nav_quicklinks a:focus {
}

#leftside.fourcol-equal {
    clear:left;
    float:left;
    margin:0 1% 0 0;
}

#footer .fourcol-equal.left {
    width:24%;
    float:left;
    margin:0 1% 0 0;
}

#nav_topmenu {
    font-size:1.4em;
    font-weight:lighter;
    text-shadow:1px 1px 1px rgba(0,0,0,0.5);
}
#nav_topmenu li,
#nav_topmenu li:first-child {
    width:16.6666%;
    width:auto;
}
*/
#identity img {
    display:block;
    /*width:2.5em;*/
    width:6.25em;
}
#identity-text {
    /*font-size:1.8em;
    vertical-align:middle;
        
    font-size:5.8em;
    text-shadow:0 0 2px #fff;
    margin-top:-0.3em;*/
	
    /*display:inline-block;
    font-size:1.5em;
    line-height:2.3em;*/
        
    font-size:1em;
    line-height:1.3em;
    padding:0.5em;
}
#identity-tagline {
    font-size: 0.2em;
    display: block;
    font-weight: normal;
    /*margin-top: -1em;*/
    bottom: -0.3em;
    position: absolute;
    width: 150%;
}
#icon-button-list li {
    width:16.6667%;
    float:left;
}
#icon-button-list li a {
    display:block;
    padding:1.5em 0;
    font-size:1em;
}
#icon-button-list a em {
    font-size:3em;
    display:block;
    float:none;
    clear:both;
}
#icon-button-list li {
    width:20%;
    text-align:center;
}

#sm-links-bottom {
    margin:0 auto;
    float:right;
}

/*
#nav_topmenu li:nth-child(4n+4) {
    clear:none;
}
*/
/*#search-global {
    display:inline-block;
    width:auto;
    float:none;
    margin-right:0;
    padding-top:1.25em;
    background-color:transparent;
}
#search-global #query {
    width:16em;
    float:left;
}
#search-global button[type="submit"] {
    right:1.2rem;
}
*/
/*********************/
/* global search box */
/*********************/
#search-global {
    width:30em;
    display:inline-block;
    margin-top:1.1em;
    margin-right:1.2em;
    margin-right:1.2rem;
    font-size:0.9em;
    padding:0;
    overflow:visible;
}
/* input field and submit button (incl. when focused) */
#search-global input[type="search"], 
#search-global .query-input, 
#search-global input[type="button"], 
#search-global .search-button,
#search-global input[type="search"]:focus, 
#search-global .query-input:focus {
    /*background-color:#3E424C;*/
    background-color:#323640;
    background-color:rgba(255,255,255,0.2);
    color:#fff;
}
#search-global input[type="search"], 
#search-global .query-input {
    transition:all 0.2s ease-in-out 0s;
}
#search-global input[type="button"], 
#search-global .search-button {
    right:-1px;
}
/* input field when focused */
#search-global input[type="search"]:focus, 
#search-global .query-input:focus {
    /*background-color:rgba(255,255,255,0.15);*/
    background-color:#eee;
    background-color:rgba(255,255,255,0.9);
    color:#000;
    box-shadow:0 0 1em rgba(255,255,255,0.2);
}
/* submit button when input field has focus */
#search-global input[type="search"]:focus + input[type="button"], 
#search-global .search-button {
    background-color:#567;
    /*color:#adf;*/
    color:#def;
}
/* submit button when hovering */
#search-global input[type="search"]:focus + input[type="button"]:hover, 
#search-global .search-button:hover {
    background-color:#678;
}
/* placeholder text */
#search-global input[type="search"]::-moz-placeholder,
#search-global .query-input::-moz-placeholder {
    color:#aaa;
}
#search-global input[type="search"]:-moz-placeholder,
#search-global .query-input:-moz-placeholder {
    color:#aaa;
}
#search-global input[type="search"]::-webkit-input-placeholder,
#search-global .query-input::-webkit-input-placeholder {
    color:#aaa;
}
#search-global input[type="search"]:-ms-input-placeholder,
#search-global .query-input:-ms-input-placeholder {
    color:#aaa;
}



#nav_breadcrumb {
    /*border-bottom:none;*/
    color:#eee;
    float:none;
    line-height:3em;
    /*background-color:#f5f5f5;*/
    /*padding:0 1.2rem;*/
}
#nav_breadcrumb li {
    margin-right:0.5em;
    display:inline-block;
    /*float:left;*/
}
#nav_breadcrumb a,
#nav_breadcrumb i,
#nav_breadcrumb span {
    padding:0.5em 0;
    line-height:1.5em;
    display:inline-block;
    text-shadow:0 0 2em rgba(0,0,0,0.8); /* improve contrast */
}
#nav_breadcrumb span {
    font-weight:bold;
}
/**
 * Override default styles (navigation.css)
 */
#nav, 
#nav a {
	color:#06a;
}
#nav > ul > li > a {
    background-color:#eee;
    background-color:rgba(255, 255, 255, 0.85);
}
#nav > ul > li > a {
    padding:1em 0.75rem;
    font-size:1em;
}
#nav ul ul a:hover {
    color:#275379;
}
#nav ul ul {
    width:225px;
}
#nav > ul > li.inpath > a {
    color: #06a;
}
#nav ul ul li.current > a span {
    background-color:#06a;
}

.left { float:left; }
.right { float:right; }

.heading-more {
    background-position:left 6px;
}



/* 3-column page layout */

.main-content {
    overflow:visible;
}
.main-content > * {
    /*margin:0 auto;
    max-width:1200px;*/
    /*padding:0 1.2rem;*/
}	
.main-content > .article-hero {
    background-color:#000;
    color:#fff;
    max-width:none;
    margin-top:-2.5rem; /* = height of breadcrumb */
}
.article-hero figure,
.article-hero-content {
    /*margin: 0 auto;
    max-width:1200px;*/
    position:relative;
    z-index:2;
}
.article-hero-content img {
    box-shadow:0 0 150px rgba(0, 0, 0, 1);
}
.article-hero > img {
    filter:blur(50px) brightness(95%);
    -ms-filter:blur(30px) brightness(100%);
    -moz-filter:blur(30px) brightness(100%);
    -o-filter:blur(30px) brightness(100%);
    -webkit-filter:blur(30px) brightness(100%);
    filter:blur(30px) brightness(100%);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='30');
    position:absolute;
    /*top:-35%;*/
    top:-20%;
    z-index:1;
    display:block;
    max-height:150%;
}
.article-hero > canvas/*,
#hero-canvas-overlay*/ {
    display: block;
    position: absolute;
    z-index: 1;
    top: -20%;
    width: 100%;
    height: 150%;
    max-height: 150%;
}
/*#hero-canvas-overlay {
    box-shadow:0 0 100px 40px #000 inset;
    left:-50%;
    width:200%;
    height:150%;
}*/
.article-hero h1,
.article-hero figcaption {
    position:absolute;
    display:inline-block;
    /*padding:0.2em 1.2rem;*/
    /*padding-top:0.2em;
    padding-bottom:0.2em;*/
    margin:0;
    background-color:#777;	
    /*background-color:rgba(0,0,0,0.75);*/
    text-shadow:0 0 2px #000;
        
    padding:0.2em 0.5em;
    background-color:rgba(0,0,0,0.4);
    z-index:9;
}
.article-hero h1 {
    bottom:0.4em;
    left:0;
    /*font-weight:normal;*/
    border:none;
    color:#fff;
        
    padding:0.2em 0.75em;
    background-color:rgba(0,0,0,0.75);
}
.article-hero figcaption {
	top:0;
	right:0;
	left:auto;
	bottom:auto;
	font-size:0.65em;
        
        top:auto;
        bottom:0;
}

.paragraph {
	/*display:block;*/
	/*margin-top:0;*/
	/*width:auto;*/
}
/* END npweb-r.css*/

#header,
#navwrap {
    overflow:visible;
    background:transparent;
}
#navwrap {
    margin:1em 0 2em 0;
}
#nav_breadcrumb_wrap {
    /*background-color:rgba(0,0,0,0.75);*/
    background-color:#222;
    background-color:rgba(0,0,0,0.5); /* will in practice never be lighter than around #5d5d5d, due to shadowing etc. */
    height:2.5rem;
    position:relative;
    z-index:3;
}

/* BEGIN temp.css*/
#header #nav_topmenu {
    display:block;
}

/* Column-enabled content */
.quadruple .boxes > div:nth-child(2n+1),
/*.triple .boxes > div:nth-child(odd)*/
.triple .boxes > div:nth-child(2n+2) {
    clear:none;
}

.quadruple .boxes > div:nth-child(2n+1),
.quadruple .boxes > div:nth-child(2n+2),
.triple .boxes > div:nth-child(odd),
.triple .boxes > div:nth-child(even)  {
	margin:0 1% 2% 1%;
}
.quadruple .boxes > div:nth-child(4n+0),
.triple .boxes > div:nth-child(3n+0),
.double .boxes > div:nth-child(2n+0),
.quadruple .boxes > .span2:nth-child(2n+0),
.quadruple .boxes > .span3:nth-child(2n+0) {
	margin-right:0;
}
.quadruple .boxes > div:nth-child(4n+1),
.triple .boxes > div:nth-child(3n+1) {
	margin-left:0;
}

.quadruple .boxes > .span1 { width:23.5%; }
.quadruple .boxes > .span2 { width:49%; }
.quadruple .boxes > .span3 { width:74.5%; }

.triple .boxes > .span1 { width:32%; }
.triple .boxes > .span2 { width:65.16665%; }

.single .boxes > .span1,
.double .boxes > .span2,
.triple .boxes > .span3 { width:100%; margin-left:0; margin-right:0; }

/*
orange  |  red  |  green
orange  |  red  |  lightblue  |  green
*/

/* odd-number column boxes in rows divided into 3 or 4 columns */
/*
.quadruple .boxes > .span1:nth-child(2n+1),
.triple .boxes > .span1:nth-child(2n+1) {
	clear:none;
	border-bottom:10px solid yellow;
}
*/
/* 3rd column boxes in rows divided into 4 columns */
.quadruple .boxes > .span1:nth-child(4n+3),
.portal .news-list .news:nth-child(4n+3) {
	clear:none;
	/*border-bottom:3px solid lightblue;*/
}

/* 2nd column boxes in rows divided into 3 or 4 columns */
.quadruple .boxes > .span1:nth-child(4n+2),
.quadruple .boxes > .span2:nth-child(4n+1),
.triple .boxes > .span1:nth-child(3n+2),
.portal .news-list .news:nth-child(4n+2) {
	clear:none;
	/*border-bottom:3px solid red;*/
}

/* boxes to the far left */
.quadruple .boxes > .span1:nth-child(4n+1),
.quadruple .boxes > .span2:nth-child(2n+1),
.triple .boxes > .span1:nth-child(3n+1),
.double .boxes > .span1:nth-child(odd),
.portal .news-list .news:nth-child(4n+1) {
	clear:left;
	/*border-bottom:3px solid orange;*/
}

/* boxes to the far right */
.quadruple .boxes > .span1:nth-child(4n+0),
.quadruple .boxes > .span2:nth-child(2n+0),
.triple .boxes > .span1:nth-child(3n+0),
.double .boxes > .span1:nth-child(even) {
	/*border-bottom:3px solid green;*/
}


/**
* Layout groups and boxes
*/
.layout-group.triple .layout-box,
.layout-group.triple .layout-box:first-child {
    width:33.3%;
    float:left;
}
.layout-group.triple .layout-box.span2,
.layout-group.triple .layout-box.span2:first-child {
    width:66.6%;
}


.cta-huge {
    font-size:2em;
}
.cta-huge .triple .span2.cta-title { /* Handle complex cta-huge buttons (those with layout-group inside them) */
    text-align:left;
}
.cta-huge.cta-frontpage .cta-title p {
    min-height:3em;
}
.portal .dynamic .more {
    margin-left:0;
    margin-right:0;
}


.portal > .paragraph .media.pull-right,
.portal > .paragraph .media.pull-left {
	width:50%;
	margin:0 0 1em 1em;
}
.portal > .paragraph .media.pull-left {
	margin:0 1em 1em 0;
}
.portal > .paragraph .media.thumb {
	width:32%;
}
.portal > .paragraph .media.big {
	width:66%;
}

.portal > .paragraph .media {
	/*width:100%;*/
	margin:0 0 1em 0;
}
.portal-box .media.pull-left {
	margin:0 1em 1em 0;
}


.media {
    /*background:url("loader.gif") no-repeat scroll center center #f5f5f5;*/
}
/*.paragraph .media,
.paragraph .textbox {
    width:40%;
}*/	


/* BEGIN horizontal news list */
.portal .news-list {
	float:left;
	width:100%;
	margin-top:0;
}
.portal .news-list .news {
	float:left;
	width:23.5%;
	margin:0 1%;
}
.portal .news-list .news:first-child {
	margin-left:0;
}
.portal .news-list .news:last-child {
	margin-right:0;
}
.portal .news-list > p {
}
/* END horizontal news list */

.quadruple .boxes > .span1, 
.quadruple .boxes > .span2, 
.triple .boxes > .span1, 
.triple .boxes > .span2, 
.double .boxes > .span1,
.portal .news-list .news {
    width:50%;
}
.double .boxes > div:nth-child(2n+1), 
.quadruple .boxes > div:nth-child(2n+1)/*,
.portal .news-list .news:nth-child(2n+1)*//*, 
.triple .boxes > div:nth-child(2n+1)*/ {
    clear:left;
	margin-left:0;
    margin-right:0;
}

.quadruple .boxes > div:nth-child(4n), 
.triple .boxes > div:nth-child(3n), 
.double .boxes > div:nth-child(2n), 
.quadruple .boxes > .span2:nth-child(2n), 
.quadruple .boxes > .span3:nth-child(2n),
.portal .news-list .news:nth-child(4n),
.portal .news-list .news:nth-child(2n) {
    margin-right:0;
	margin-left:0;
}
.quadruple .boxes > .span1,
.portal .news-list .news {
    width:25%;
}
.quadruple .boxes > div:nth-child(4n+1), 
.triple .boxes > div:nth-child(3n+1),
.portal .news-list .news:nth-child(4n+1) {
    margin-left:0;
	margin-right:0;
}
.quadruple .boxes > div:nth-child(2n+1), 
.quadruple .boxes > div:nth-child(2n+2), 
.triple .boxes > div:nth-child(2n+1), 
.triple .boxes > div:nth-child(2n),
.portal .news-list .news:nth-child(2n+1),
.portal .news-list .news:nth-child(2n+2) {
    margin:0 0 0 0;
}
.triple .boxes > .span1 {
    width:33.3333%;
}
/* END temp-2.css */
.indicators-list .card .overlay {
    /*background-color: rgba(0, 0, 0, 0.35);
    bottom: auto;
    color: #fff;
    font-weight: lighter;
    left: 50%;
    margin: 2px;
    padding: 0.2em 1em;
    position: absolute;
    right: auto;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.99);
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;*/
}
.indicators-list .card h2.portal-box-heading.overlay {
    font-size:1.65em;
}
.indicators-list .card .portal-box-text.overlay {
    display:block;
    bottom: 1em;
    top: auto;
    color: #fff;
    font-size: 1.2em;
}
.indicators-list .card .portal-box-text.overlay p {
    color:#fff;
    text-shadow:none;
}

/* Frontpage banner */
.media.banner,
.portal-box .media.banner,
.portal > .paragraph .media.banner,
.media.banner img,
.portal-box .media.banner img,
.portal > .paragraph .media.banner img {
}
.media.banner .overlay {
	position:absolute;
	top:0;
	width:100%;
	height:100%;
	background:none;
	margin-top:-0.3em;
}

.media.banner .overlay h2 {
	color:#fff;
	padding:0 0 0 0.2em;
}
.banner-buttons {
	display:block;
	padding:0;
	margin:0;
	width:33%;
	height:100%;
	margin-top:1px;
}
.banner-buttons li {
	display:inline-block;
	float:left;
	clear:both;
}
.banner-buttons li a {
	padding:0;
}
.banner-buttons li a,
.banner-buttons li a:hover {
	display:block;
	background:rgba(255, 255, 255, 0.2);
	color:#fff;
	margin:0.225em 0 0.225em 0.45em;
	border-radius:0.2em;
	text-shadow:1px 1px 1px #000;
}
.banner-buttons li a:hover,
.banner-buttons li a:focus {
	background:rgba(255, 255, 255, 0.15);
	box-shadow:0 0 0.5em rgba(255,255,255,0.99);
}
.banner-buttons li a span {
	display:block;
	padding:0.3em;
}

#footer .layout-box:nth-child(2n+2) {
    text-align:center;
}
#footer .layout-box:nth-child(3n+3) {
    text-align:right;
}
/* test */
.cssfilters #top {
    background:transparent;
}
.cssfilters #nav {
    z-index:9999;
}
.cssfilters .main-content > .article-hero {
    margin-top:0;
    overflow:visible;
}
.cssfilters .main-content > .descr,
.cssfilters .main-content > .ingress, 
.cssfilters .main-content > .summary,
.cssfilters .main-content > div,
.cssfilters .main-content > section {
    position: relative;
    z-index: 2;
}
}

/* HUGE */
@media (min-width:991px) {
/* Override navigation.css (#navwrap is used to make the selector more specific) */
#navwrap #nav > ul > li > a {
    padding:1em 1.2rem;
    font-size:1.15em;
}
#icon-button-list li:nth-child(4n+4) {
    clear:none;
}
#sm-links-bottom {
    right:1em;
}
#footer {
    padding-bottom:1em; /* Because the extra padding needed due to the small-screen AddThis widget */
}
}

@media (min-width:1150px) {
h1,
.main-content > h1 {
    font-size:3em;
}
/* Override navigation.css (#navwrap is used to make the selector more specific) */
#navwrap #nav > ul > li > a {
    font-size:1.3em;
}
#identity-text {
    /*font-size:1.8em;
    vertical-align:middle;
        
    font-size:5.8em;
    text-shadow:0 0 2px #fff;
    margin-top:-0.3em;*/
	
    /*display:inline-block;
    font-size:2em;
    line-height:2em;*/
}
}